html {
  width: 100%;
  height: 100%;
  background: black;
}

body {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 600px;
  width: 1150px;
}

#game {
  background: url("./assets/battle.gif");
  background-size: cover;
  background-position: center;
  height: inherit;
  width: inherit;
}
